<!doctype html>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" (click)="addClick()" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalCenter">
    Add Department
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{ModalTitle}}</h5>
                <button type="button" class="close" (click)="closeClick()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-add-edit-dep [dep]="dep" *ngIf="ActivateAddEditDepComp"></app-add-edit-dep>
            </div>

        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Department Id</th>
            <th>Department Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DepartmentList">
            <td>{{dataItem.DepartmentId}}</td>
            <td>{{dataItem.DepartmentName}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1" (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#exampleModalCenter">Edit</button>
                <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">Delete</button>

            </td>
        </tr>
    </tbody>

</table>